

.forgteBtn:hover{

    -fx-text-fill: #A854D4;
    -fx-underline:true;
}

.forgteBtn{

   -fx-text-fill: #a3a3a3;
}

.loginBtn{

    -fx-background-color:#A854D4 ;
    -fx-text-fill:#ffff;
    -fx-background-radius:4px;

}

.loginView{

    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #A854D4, #D1395C)

}

.notView{

    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #D1395C, #A854D4)


}

.loginBtn:hover{

    -fx-background-color:transparent;
    -fx-text-fill: #A854D4;
    -fx-border-color: #A854D4;
    -fx-border-width: 2px;
    -fx-boder-style:solid;
    -fx-border-radius:4px;
}

.dialogBtn{

    -fx-background-color:#A854D4 ;
    -fx-text-fill:#ffff;
    -fx-background-radius:4px;

}

.dialogBtn:hover{

    -fx-background-color:transparent;
    -fx-text-fill: #A854D4;
   /* -fx-border-color: #A854D4;
    -fx-border-width: 2px;
    -fx-boder-style:solid;
    -fx-border-radius:4px;*/
}

.leftPanel{
    -fx-background-color:#A854D4;
}

.adminDashboard{

    -fx-background-color:white;
}

.signup{
    -fx-text-fill: #A854D4;

}
.signup:hover{
    -fx-text-fill: #F2338A;

}
.closeBtn{

    -fx-fill:#A854D4;
}

.closeBtn:hover{

    -fx-fill:#F2338A  ;
}

.dialog{

    -fx-background-color:white;
    -fx-text-color:#F2338A;
    -fx-border-color:#A854D4;
    -fx-border-width:10px;
    -fx-font-size:18;
    -fx-font-weight:bold;
}

